* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/backgroung image-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*topmenu start*/
.topMenu {
    background-color: #C9E0CE;
    background-image: url("images/bar-1.jpg");
}

.site-logo img{
    width:100%;
}


.site-text p{
    font-size:25px;
    font-family: Agency FB;
    transition: .7s;
    color: white;
    margin-top: 30px;
}

.log-in{
    margin-top: 5px;
}

.topMenu .btn {
    margin-top: 25px;
    margin-left: 16px;
}

.modal-body label{
    color: whitesmoke;
}
/*topmenu end*/


/*menuer start*/
.menubar>li {
    background-image: url("images/bar-2.jpg");
    background-repeat: no-repeat;
    color: green;
    border: 1px inset saddlebrown;
}

.menubar>li>a {
    text-align:left;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.menubar>li>a:hover{
    background-color: whitesmoke;
    opacity : .3;
    color: black;
}
/*menubar end*/


/*slider*/

.slider{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*slider end*/


/*food item*/

h2{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 100;
    color: whitesmoke;
    background-image: url("images/bar-2.jpg");
    border: 1px inset saddlebrown;

}


.content{
    background-image: url("images/backgroung image-2.jpg");
    border: 1px outset green;
    padding-bottom: 20px;



}

.content:hover {
    background-color:#C9E0CE;
    color: white;
    transition: 2s;
}

.content img {
    width: 100%;

}
.content img:hover {
    transform: scale(1.1);

}


.item {
    transform: scale(1);
}
/*food item end*/


/*pagination*/

.pagination a.active {
    background-color: greenyellow;
    color: grey;
}

/*pagination end*/


/*food order form*/
h6{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 100;
    color: whitesmoke;
    background-image: url("images/bar-2.jpg");
    border: 1px inset saddlebrown;
}

.food-order{
    background-image: url("images/backgroung image-2.jpg");
    border: 1px solid #2b542c;
}

.form-horizontal{
    margin-top: 30px;
}

label:hover{
    color: white;
    transition: .4s;
}
/*food order form end*/


/*Footer*/

.footer{
 background-image: url("images/bar-1.jpg");
    color: white;
}

.footer h4 {
    font-size: 30px;
    font-family: "Agency FB";
    text-align: center;


}

.footer p {
    font-size: 20px;
    font-family: "Agency FB";
    margin-left: 80px;
}

.box-1:hover{
    transform: scale(1.1);
}

.box-2:hover{
    transform: scale(1.1);;
}

.footer {
    background-image: url("images/bar-3.jpg");
    margin-top: 10px;
    color: #FFFFFF;

}


.footer .social {
    font-size: 28px;
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 2px solid #FFFFFF;
    margin: 5px;
}

.footer span {
    color: green;
}
.social_Site ul li{
    list-style: none;
    float: left;
}

/*End Of Footer*/


/*scrollUp plugin*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

